@import "../scss-variables.scss";
@import "../copy.scss";
@import "../layout.scss";
@import "../breakpoints.scss";

.dark-background {
  background: $dark-background-gradient;
  overflow: hidden;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  @include below-tablet-wide {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin-top: -38px;
    z-index: -1;
    filter: drop-shadow(0px 4px 80px rgba(18, 19, 27, 0.4));
    background: unset;
    div {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      width: 100%;
      height: 100%;
      background: $blue10;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - 36px));
    }
  }
}

.home-headercontent-container {
  margin-top: 148px;
  display: flex;
  flex-direction: column;
  max-width: 756px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-bottom: 48px;
  @include customBreakPoint(1680) {
    max-width: 656px;
  }
  @include customBreakPoint(1520) {
    max-width: 520px;
  }
  @include below-desktop {
    max-width: 500px;
  }
  @include below-tablet-wide {
    max-width: unset;
    margin-top: 48px;
    padding-bottom: 236px;
  }
  @include tablet-small{
    margin-top: 28px;
  }

  h1 {
    margin-bottom: 20px;
  }
  #home-subheader {
    padding-right: 124px;
    @include customBreakPoint(1680) {
      padding-right: 42px;
    }
  }
}

#iphone {
  max-width: 400px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  z-index: 1;
  transform: translate(-200px, 172px);
  @include customBreakPoint(1680) {
    max-width: 340px;
    transform: translate(-170px, 172px);
  }
  @include below-desktop {
    max-width: 300px;
    transform: translate(-150px, 172px);
  }
  @include below-tablet-wide {
    grid-row: 2 / 3;
    transform: translate(0, -154px);
    margin-left: auto;
    margin-right: auto;
  }
  @include phone{
    max-width: 100%;
  }
}

.gray-bar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: $neutral5;
  @include below-tablet-wide {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    height: 440px;
    background-color: $blue8;
    margin-top: -64px;
    z-index: -2;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - 36px));
  }
}

.email-number-container {
  max-width: 100%;
  @include below-tablet-wide {
    width: 100%;
  }
}
