@import "../scss-variables";
@import "../breakpoints";

.prefer-number-email{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .button-container{
    width: 240px;
    display: flex;
    justify-content: center;
    @include below-tablet-wide{
      justify-content: space-between;

    }
  }
  p{
    color: white;
    margin-top: 32px;
    font-size: 26px;
    margin-bottom: 12px;
    margin-left: -102px;
    @include below-tablet-wide{
      margin-left: unset;
    }
    @include customBreakPoint(1520){
      font-size: 22px;
    }
    @include below-tablet-wide{
      font-size: 26px;
      margin-top: 42px;
    }
  }
  button{
    background: none;
    border: none;
    color: white;
    font-size: 26px;
    opacity: .8;
    position: relative;
    margin-right: 80px;
    cursor: pointer;
    padding-left: 32px;
    @include customBreakPoint(1520){
      font-size: 22px;
    }
    @include below-tablet-wide{
      font-size: 26px;
      margin-right: 0;
    }


    &:focus{
      border: none;
      outline: none;
    }

    &::before{
      content: ' ';
      position: absolute;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background-color: #cacaca;
      top: calc(50% - 9px);
      left: 0;
    }
  }
  .active-choice{
    opacity: 1;
    &::before{
      background-color: $cta-color;
    }
  }
}