@import "global-styles.scss";
@import "breakpoints.scss";
// Sizing

.massive-text {
  font-size: 59px;
  line-height: 130%;
  @include customBreakPoint(1680) {
    font-size: 46px;
  }
  @include tablet{
    font-size: 42px;
  }
  @include phone-wide{
    font-size: 36px;
  }
}

.blog-title {
  font-size: 48px;
  line-height: 130%;
}

.secondary-title {
  font-size: 36px;
  line-height: 130%;
  color: $dark-text-color;
  @include desktop-wide {
    font-size: 32px;
  }
  @include tablet-small{
    font-size: 28px;
  }
}

.subtitle {
  font-size: 28px;
  line-height: 150%;
  color: $dark-text-color;
  @include customBreakPoint(1680) {
    font-size: 26px;
  }
  @include customBreakPoint(1520) {
    font-size: 24px;
  }
  @include tablet{
    font-size: 22px;
  }
}

.body-text {
  font-size: 22px;
  color: $dark-text-color;
  line-height: 150%;
  @include tablet{
    font-size: 19px;
  }
}

// Properties

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

// Colors

.white {
  color: white;
}

.cta {
  color: $cta-color;
}

.orange {
  color: $primary-orange;
}
