@import "./breakpoints.scss";

.home-page-grid{
  display: grid;
  grid-template-columns: 1fr 1133px 1fr;
  position: relative;
  grid-template-rows: 1fr;

  @include customBreakPoint(1680){
    grid-template-columns: 1fr 1033px 1fr;
  }
  @include customBreakPoint(1520){
    grid-template-columns: 1fr 800px 1fr;
  }
  @include below-desktop{
    grid-template-columns: 7fr 740px 3fr;
  }
  @include below-tablet-wide{
    grid-template-columns: 1fr 600px 1fr;
  }

  @include tablet{
    grid-template-columns: 42px 1fr 42px;
  }
  @include phone{
    grid-template-columns: 24px 1fr 24px;
  }
}


