// Colors!
// Dark background gradient
$dark-background-gradient: linear-gradient(90.71deg, #0A1024 0.47%, #0A1127 99.74%);
// Click this bitch - sacred color
$cta-color: #FD5D6F;
// Fill that motherfucking negative space
// Great highlight color
$primary-orange: #FFA167;
// Perfect for backgrounds
$light-gray: #F3F5F6;


// Text Colors
$dark-text-color: #0A1025;

// New Background Colors
$neutral10: #19262E;
$neutral9: #25313A;
$neutral8: #353D43;
$neutral7: #4B555B;
$neutral6: #818E96;
$neutral5: #B3BEC6;
$neutral4: #D4DCE0;
$neutral3: #EAEFF1;
$neutral2: #F3F5F6;
$neutral1: #F8FAFC;

// Bwue
$blue10: #0C1625;
$blue9: #1E3039;
$blue8: #162131;




