@import "../global-styles";
@import "../breakpoints";

#blog-header-style{
  filter: drop-shadow(0px 4px 80px rgba(18, 19, 27, 0.4));
  z-index: 2;
  position: relative;
}

#blog-header-clippath{
  background: $neutral10;
  height: 208px;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0% 100%);
  z-index: 1;
  @include phablet{
height: 168px;

  }

}

.blog-shadow-provider{
  filter: drop-shadow(0px 4px 80px rgba(18, 19, 27, 0.4));
  z-index: 1;
  position: relative;
}

.blog-title-container{
  background: $blue9;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0% 100%);
  margin-top: -96px;
  z-index: -20;
  padding-bottom: 146px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include phablet{
    padding-bottom: 106px;
  }

  &.loading{
    height: 486px;
  }
  #blog-title{
    margin: 0;
    padding-top: 186px;
    padding-bottom: 48px;
    max-width: 740px;
    @include tablet{
      max-width: unset;
      padding-left: 48px;
      padding-right: 48px;
      font-size: 36px;
    }


  }
}

.blog-container{
  background: $neutral9;
  margin-top: -196px;
  padding-top: 246px;
  padding-bottom: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-content{
  width: 644px;

  @include tablet{
    padding: 0 48px;
    width: unset;
  }
  @include phone-wide{
    padding: 0 24px;
  }

}