@import "../layout.scss";
@import "../scss-variables";

.nav-container{
  height: 0;
  @include below-tablet-wide{
    height: 140px;
    filter: drop-shadow(0px 4px 80px rgba(18, 19, 27, 0.4));
    z-index: 1;
    &.unset-height{
      height: 0;
      z-index: 5;
    }
  }
}

#main-nav{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 26px;
  grid-column: 2 / 3;
  margin-left: auto;
  z-index: 5;

  @include below-tablet-wide{
    grid-column: 1 / 4;
    margin-right: auto;
    margin-top: 0;
    align-items: center;
    background: $neutral10;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - 36px));
    justify-content: center;
    z-index: 5;
    &.unset-clippath{
      clip-path: unset;
      margin-top: 64px;
      @include phablet{
        margin-top: 38px;
      }
    }

  }
  .link{
    cursor: pointer;
    margin-top: -6px;
  }
  .cta{
    border: 2px solid $cta-color;
    padding: 8px 26px;
    border-radius: 6px;
  }
  a{
    text-decoration: none;
  }
}

