@import "../scss-variables";
@import "../breakpoints";

.success-pop-up{
  position: fixed;
  height: 100px;
  width: 100px;
  background-color: white;
  z-index: -2;
  opacity: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 12px;
  border-top: 5px solid $primary-orange;
  #title{
    margin-top: 0;
  }
  #exit-button{
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    width: 38px;
    height: 38px;
  }
}

.success-pop-up{
  p{
    color: $dark-text-color;
  }
}

.active-pop-up{
  animation: form-jumper .4s cubic-bezier(0.42, 0, 0.13, 1.29) forwards;
  @include customBreakPoint(900){
    animation: tablet-form-jumper .4s cubic-bezier(0.42, 0, 0.13, 1.29) forwards;
  }
  @include phone-wide{
    animation: mobile-form-jumper .4s cubic-bezier(0.42, 0, 0.13, 1.29) forwards;

  }


}

@keyframes form-jumper {
  0% {
    z-index: 50;
    height: 500px;
    width: 500px;
    opacity: 0;
  }

  70% {
    opacity: 1;
  }
  100% {
    width: 600px;
    height: fit-content;
    z-index: 50;
    opacity: 1;
    padding: 60px;
  }
}

@keyframes tablet-form-jumper {
  0% {
    z-index: 50;
    height: 300px;
    width: 300px;
    opacity: 0;
  }

  70% {
    opacity: 1;
  }
  100% {
    width: 70%;
    height: fit-content;
    z-index: 50;
    opacity: 1;
    padding: 60px;
  }
}

@keyframes mobile-form-jumper {
  0% {
    z-index: 50;
    height: 250px;
    width: 250px;
    opacity: 0;
  }

  70% {
    opacity: 1;
  }
  100% {
    width: 70%;
    height: fit-content;
    z-index: 50;
    opacity: 1;
    padding: 60px 30px 30px 30px;
  }
}